@font-face{
	font-family: Ruberoid;
	font-display: swap;
	src: url("../fonts/Ruberoid-ExtraLight.woff2") format("woff2"), url("../fonts/Ruberoid-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: SovMod;
	font-display: swap;
	src: url("../fonts/SovMod.woff2") format("woff2"), url("../fonts/SovMod.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
