#sdfsdf {
    .img-block {
        img {
            width: 100%;
        }
    }

    .text-block {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}