.header_bottom_block {
    nav {
        display: flex;
        justify-content: center;

        ul {
            display: flex;

            li {
                list-style-type: none;
                margin: 0 25px;

                a {
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: .125rem;
                }
            }
        }
    }
}

.megamenu__wrapper {
    background-color: $dark-bg-color;
}