#booking {
    position: relative;
    height: 120px;

    .book_block {
        position: absolute;
        z-index:3;
        top: -120px;
        width: calc(100% - 65px);
        height: 120px;
        background-color: #fff;
        // color: red;
        flex-direction: row;
        justify-content: space-around;
        padding: 1.375rem 15px .75rem;
        box-shadow: 0 .6875rem 3.125rem 0 rgba(0, 0, 0, .1);

        .label-title {

        }
    }
}