.ai-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;

    background-image: url(../img/neurobot/nika.jpg);
    background-size: cover;
}