.tg-button {
    position: fixed;
    bottom: 85px;
    right: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: #ccc;

    svg {
        width: 60px;
        height: 60px;
        fill: #27a6e6;
    }
}