.to-top {
    position: fixed;
    bottom: 200px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: $dark-bg-color;
    z-index: 9;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;

    
    transform: rotate(120deg);
    transform-origin: 100% 100%;
    transition: transform 1s cubic-bezier(.19, 1, .22, 1);

    &.active {
        transform: rotate(0);
        transition-duration: .5s;
    }

    svg {
        fill: #fff;
        height: 15px;
    }
}