.search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

    &.active {
        display: block;

        // .search-block {
        //     margin-right: 0;
        //     transition: all .3s ease-in-out;
        // }
    }

    .search-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;            
        width: 500px;
        background: #fff;
        z-index: 2;

        // transition: all .3s ease-in-out;
        // margin-right: -500px;
    }

    .search-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
        z-index: 1;
    }
}