.search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

    &.active {
        display: block;

        // .search-block {
        //     margin-right: 0;
        //     transition: all .3s ease-in-out;
        // }
    }

    .search-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;            
        width: 500px;
        background: #fff;
        z-index: 2;

        padding: 50px;

        // transition: all .3s ease-in-out;
        // margin-right: -500px;

        .close-btn {
            position:absolute;
            top: 50px;
            right: 50px;
            cursor: pointer;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        input {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
            outline: none;
            border: 1px solid #282828;
            color: #282828;
            padding: 10px;
        }

        button {
            background-color: $dark-bg-color;
            color: #fff;
            border: none;
            outline: none;
            min-width: 180px;
            padding: 7px 14px;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $light-bg-color_a;
                transition: all .3s ease-in-out;
            }
        }
    }

    .search-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: .5;
        z-index: 1;
    }
}